@import './theme.scss';
.donation {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 110px;
  padding: 50px calc(50% - 558px);
}
.donation input {
  border: none;
  border-radius: 9px;
  background-color: $orange;
  height: 47px;
  padding-left: 55px;
  font-size: 20px;
  font-family: 'Times New Roman';
  color: $black;
  line-height: 2.25;
  position: relative;
  margin-top: 15px;
}

.icon-credit-card {
  position: absolute;
  left: 50%;
  margin-left: 80px;
  margin-top: 58px;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
}

.donation h2 {
  font-size: 35px;
  font-family: 'Georgia';
  color: $text-main;
  line-height: 1.286;
  font-weight: normal;
}
.donation form {
  font-size: 15px;
  font-family: 'Georgia';
  color: $text-main;
  line-height: 1.286;
}
.donation-text p {
  font-style: italic;
}

.dog-brown {
  margin-top: 50px;
  width: 494px;
  height: 254px;
}
@media #{$mobile} {
  .donation {
    display: flex;
    padding: 0 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }

  .dog-brown {
    width: 100%;
    margin: 0 50px;
    margin-top: 20px;
  }
  .donation-text {
    width: 60%;
  }
  input {
    font-size: 15px;
    width: 80%;
  }
  .icon-credit-card {
    position: absolute;
    margin-left: -22%;
    z-index: 10;
  }
}

@media #{$medium} {
  .donation {
    display: flex;
    padding: 0 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
  }

  .dog-brown {
    width: 100%;
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .donation-text {
    width: 60%;
  }
  .icon-credit-card {
    position: absolute;
    margin-left: -22%;
    z-index: 10;
  }
}

@media #{$tablet-xxl} {
  .donation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .donation-text {
    padding: 0 calc(50% - 250px);
  }

  .donation-text p {
    width: 70%;
  }
  .dog-brown {
    height: 100%;
  }
  input {
    display: block;
  }
  .icon-credit-card {
    position: absolute;
    margin-left: -220px;
    z-index: 10;
  }
}
@media #{$desktop-x} {
  input {
    display: block;
  }
  .icon-credit-card {
    position: absolute;
    margin-left: -220px;
    z-index: 10;
  }
}
@media #{$extra-large-x} {
  .icon-credit-card {
    position: absolute;
    margin-left: 80px;
    z-index: 10;
  }
  .dog-brown {
    width: 100%;
  }
}
@media #{$extra-large-xx} {
  .icon-credit-card {
    position: absolute;
    margin-left: 80px;
    z-index: 10;
  }
  .dog-brown {
    width: 90%;
  }
}
@media #{$extra-large-xxl} {
  .icon-credit-card {
    position: absolute;
    margin-left: 80px;
    z-index: 10;
  }
}
