.footer {
  background-image: url(../img/Dog-footer.png);
  display: flex;
  flex-direction: row;
  padding: 0 calc(50% - 558px);
}
.footer h3 {
  font-size: 35px;
  font-family: 'Georgia';
  color: rgb(255, 255, 255);
  line-height: 1.286;
  font-weight: normal;
  margin-top: 80px;
}
.footer h3 {
  margin-top: 90px;
}

.nav-footer {
  display: flex;
  flex-direction: row;
}
.row + .row {
  margin-left: 190px;
}
.row p {
  margin-left: 20px;
  font-size: 20px;
  font-family: 'Times New Roman';
  color: rgb(241, 205, 179);
}
.park {
  line-height: 2.5;
}
.row {
  margin-bottom: 38px;
}
.email,
.phone {
  margin-top: 5px;
  line-height: 2.25;
  margin-bottom: 40px;
}

.geozona {
  width: 30px;
  height: 40px;
  margin-top: 10px;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer .menu-content {
    visibility: hidden;
  }
  .footer ul li {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .logo-footer {
    margin-left: 50px;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .footer .menu-content {
    visibility: hidden;
  }
}
