@import './theme.scss';
footer {
  background-image: url(../img/Dog-footer.png);
  display: flex;
  flex-direction: row;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 calc(50% - 518px);
}
footer h3 {
  font-size: 35px;
  font-family: 'Georgia';
  color: $white;
  line-height: 1.286;
  font-weight: normal;
  margin-top: 80px;
}
footer h3 {
  margin-top: 90px;
}

.nav-footer {
  display: flex;
  flex-direction: row;
}
.row + .row {
  margin-left: 190px;
}
.row p {
  margin-left: 20px;
  font-size: 20px;
  font-family: 'Times New Roman';
  color: $orange;
}
.park {
  line-height: 2.5;
}
.row {
  margin-bottom: 38px;
}
.email,
.phone {
  margin-top: 15px;
  line-height: 2.25;
  margin-bottom: 15px;
}

.geozona {
  width: 30px;
  height: 40px;
  margin-top: 25px;
}
@media #{$mobile} {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .row + .row {
    margin-left: 0px;
  }
  .row {
    margin-bottom: 38px;
  }
  footer h3 {
    margin-top: 40px;
  }
}
@media #{$medium} {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .row + .row {
    margin-left: 0px;
  }
  .row {
    margin-bottom: 38px;
  }
  footer h3 {
    margin-top: 40px;
  }
}
@media #{$tablet} {
  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .row + .row {
    margin-left: 90px;
  }
}
@media #{$extra-large} {
  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
