@import './theme.scss';
header {
  position: absolute;
  font-size: 15px;
  font-family: 'Arial';
  color: $grey;
  line-height: 1.933;
  font-weight: 400;
  padding-top: 57px;
}

.header-inner {
  display: flex;
  justify-content: center;
  background-color: transparent;
  position: fixed;
  height: 80px;
  z-index: 1000;
  width: 100%;
}

.logo-active {
  filter: invert(100%);
}

.logo {
  display: flex;
  flex-direction: column;
}
.text-logo {
  margin-top: 5px;
}
.nav-item {
  float: left;
  &:hover {
    border-bottom: 2px solid $orange;
  }
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
}

a {
  color: $white;
  text-decoration: none;
  &:active {
    color: $orange;
  }
}

li {
  margin-right: 40px;
  margin-top: 10px;
  list-style-type: none;
  &:hover {
    border-bottom: 2px solid $orange;
  }
}

.div {
  width: 50%;
}

li:last-child {
  margin-right: 0;
}

li:first-child {
  margin-left: 310px;
}

.active {
  color: $black;
  background-color: $white;
}

.menu-item {
  margin: 2rem 4rem;
  font-size: 1.8rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    border-bottom: 2px solid $orange;
  }
}

.hamburger {
  height: 20px;
  position: fixed;
  top: 60px;
  right: 5%;
  right: calc(50% - 100px);
  border: none;
  cursor: pointer;
  display: none;
}

.hamburger-container {
  position: relative;
}

.menu-icon,
.close-icon {
  color: $white;
  margin: 0;
}

.close-icon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateY(-110%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  list-style: none;
  color: $white;
  height: 600px;
  background-color: $orange;
  padding: 0 calc(50% - 375px);
}

.menu-container {
  padding-top: 6em;
}

.menu-container > li {
  margin: 0;
}

.menu img {
  padding-left: 150px;
}

.menu-content {
  width: 40%;
}

.showMenu {
  transform: translateY(0);
}

@media (min-width: 320px) and (max-width: 574px) {
  .hamburger {
    display: block;
    right: calc(50% - 150px);
  }
  .nav {
    display: none;
  }
  .menu-content {
    visibility: visible;
  }
  .menu img {
    padding-left: 50px;
  }
}

@media (min-width: 575px) and (max-width: 767px) {
  .hamburger {
    display: block;
  }
  .nav {
    display: none;
  }
  .menu-content {
    visibility: visible;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hamburger {
    display: block;
    right: calc(50% - 280px);
  }
  .nav {
    display: none;
  }
  .menu-content {
    visibility: visible;
  }
  .logo {
    margin-left: -150px;
  }
}

@media (min-width: 1025px) and (max-width: 1300px) {
  .promo {
    display: grid;
    grid-template-columns: 2fr;
  }
  li {
    margin-top: -10px;
    margin-right: 45px;
  }
  .menu-content {
    width: 0%;
  }
  .logo {
    margin-left: -50px;
  }
  li:first-child {
    margin-left: 50px;
  }
}

@media (min-width: 1301px) {
  .menu-content {
    width: 6%;
  }
  li {
    margin-top: -10px;
  }
}
