.main-section {
  background-image: url(../img/Dog-header.png);
  padding: 0 calc(50% - 558px);
  background-position: center center;
  background-size: cover;
  padding-top: 5px;
  height: 100vh;
}

.main-section h1 {
  width: 35%;
  padding-top: 290px;
  font-weight: normal;
}
.main-section p {
  width: 40%;
}
