.main-section{
    background-image: url(../img/Dog-header.png);
    padding: 0 calc(50% - 470px);
    background-position: center center;
    background-size: cover;
    padding-top: 360px;
    height:921px;
}

.main-section h1{
    width:38%;
}
.main-section p{
    width:50%;
}