@import './theme.scss';
.promo {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 110px;
  background-color: $background-body;
  background-size: 100% 100%;
  padding: 0 375px;
  color: $white;
  padding-bottom: 100px;
}

.promo-item {
  position: relative;
  top: 0;
  left: 0;
}

.img {
  margin-top: 90px;
  z-index: 100;
  position: relative;
  top: 0;
  left: 0;
}

.promo h3 {
  font-size: 35px;
  font-family: 'Georgia';
  color: $text-main;
  line-height: 1.286;
  margin-top: 120px;
  font-weight: normal;
}

.promo p {
  font-size: 15px;
  font-family: 'Arial';
  color: $promo-p;
  line-height: 1.6;
  margin-bottom: 39px;
}

@media #{$mobile} {
  .promo {
    display: flex;
    padding: 0 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }
  .img {
    width: 70%;
    margin: 0 50px;
    margin-top: 20px;
  }
  .promo-text {
    width: 60%;
  }
  .promo h3 {
    font-size: 25px;
    line-height: 107%;
    margin-top: 30px;
  }
  .promo p {
    font-size: 18px;
    line-height: 107%;
  }
  .row {
    display: flex;
    flex-direction: column;
  }
}

@media #{$medium} {
  .promo {
    display: flex;
    padding: 0 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
  }
  .img {
    width: 70%;
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .promo-text {
    width: 60%;
  }
  .promo h3 {
    font-size: 30px;
    line-height: 107%;
    margin-top: 50px;
  }
  .promo p {
    font-size: 18px;
    line-height: 107%;
  }
}

@media #{$tablet-xxl} {
  .promo {
    display: flex;
    flex-direction: column;
    padding: 0 220px;
  }

  .img {
    width: 70%;
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .promo h3 {
    text-align: center;
    margin-top: 50px;
  }
}
@media #{$desktop-x} {
  .img {
    width: 100%;
  }
}
@media #{$extra-large} {
  .img {
    width: 100%;
  }

  .promo h3 {
    margin-top: 170px;
    font-size: 2vw;
  }

  .promo p {
    font-size: 1vw;
  }
}
@media #{$extra-large-x} {
  .img {
    width: 90%;
  }
  .img-back {
    width: 60%;
  }
  .promo h3 {
    margin-top: 200px;
    font-size: 2vw;
  }

  .promo p {
    font-size: 1vw;
  }
}
