.slider {
  padding: 0 calc(50% - 558px);
  background-position: center center;
  background-size: cover;
  padding-top: 40px;
}
.slider h5 {
  font-size: 35px;
  font-family: 'Georgia';
  color: rgb(84, 84, 84);
  line-height: 1.286;
  text-align: center;
  font-weight: normal;
}
.swiper-card {
  background-color: #fafafa;
}
.swiper-card p {
  font-size: 20px;
  font-family: 'Georgia';
  color: rgb(84, 84, 84);
  line-height: 2.25;
}

.swiper-slide {
  display: flex;
  flex-direction: row;
  padding: 0 100px;
  text-align: center;
}
.swiper-slide div {
  margin: 0 15px;
}
.get {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 38%;
}
.swiper-button-next::after {
  content: url(../img/Arrow-r.png);
}

.swiper-button-prev::after {
  content: url(../img/Arrow-l.png);
}

@media (min-width: 320px) and (max-width: 1024px) {
  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    text-align: center;
  }
  .btn {
    font-size: 15px;
    line-height: 18px;
  }
  .swiper-slide div {
    margin: 15px;
  }
  .swiper-card {
    width: 50%;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  #slider {
    width: 90%;
  }
  .swiper-slide {
    padding: 0 43px;
  }
  .swiper-slide div {
    margin: 0 5px;
  }
}
