$grey: rgb(205, 205, 205);
$orange: #f1cdb3;
$body: #e9e9e9;
$white: #ffffff;
$black: #252525;
$text: #aeaeae;
$text-main: rgb(84, 84, 84);
$promo-p: rgb(76, 76, 76);
$background-body: #fafafa;
$mobile: '(min-width: 320px) and (max-width: 574px)';
$medium: '(min-width: 575px)and (max-width:767px)';
$tablet: '(min-width: 768px) and (max-width: 1023px)';
$desktop: '(min-width: 1024px) and (max-width:1301)';
$extra-large: '(min-width: 1301px)';
$extra-large-x: '(min-width: 1401px) and (max-width:1500px)';
$extra-large-xx: '(min-width: 1501px) and (max-width:1800px)';
$extra-large-xxl: '(min-width: 1801px) and (max-width:1920px)';
